<div class="container">
    <div class="col-lg-12">
        <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" >

            <h4 class="border-bottom border-gray pb-4 mb-0"> <i class="fa fa-address-card fa-fw"></i> Statistics</h4>

            <div class="row">

                <div class="col-xs-12 col-md-6 col-lg-4 offset-md-1 text-center">
                    <a class="stats-link" routerLink="/statistics/safenodes">
                <span>
                    <i class="fas fa-chart-area mr-2"></i>
                    <span>SafeNodes Statistics</span>
                </span>
                        <img alt="SafeNodes Statistics" width="100%" src="../../assets/images/safeStats.png">
                    </a>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-4 offset-lg-1 text-center">
                    <a class="stats-link" routerLink="/statistics/raven">
                <span>
                    <i class="fas fa-chart-area mr-2"></i>
                    <span>Raven Statistics</span>
                </span>
                        <img alt="Raven Statistics" width="100%" src="../../assets/images/ravenStats.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
