<div class="container">
    <div class="card mt-4 safe-card-v2 mb-4">
        <div class="card-header text-center">
            Create new wallet
        </div>
        <div class="card-body">

            <div id="print-section" class="container" [hidden]="!showKey">
                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>SAFE Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafeAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"><img alt="Safe Coin" height="150px" src="https://safe.trade/assets/safe.svg" style="vertical-align:middle"></div>

                    <div class="col text-center alert alert-info">
                        <h3>SAFE Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafeWifQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>SafeKey</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafeKeyQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>SafeNodes PrivateKey</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafePrivateKeyQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>RVN Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #RavenAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>RVN Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #RavenWifQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>BTC Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTCAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>BTC Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTCWifQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>BTG Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTGAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>BTG Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTGWifQRCode></qr-code>
                    </div>
                </div>

                <table class="table mt-2 mb-2">
                    <tbody>
                    <tr>
                        <th>SAFE Address</th>
                        <td>{{SafeAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th style="width:200px">SAFE Wif</th>
                        <td>{{SafeWifTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>SafeKey</th>
                        <td>{{SafeKeyTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>SafeNodes PrivateKey</th>
                        <td>{{SafePrivateKeyTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>RVN Address</th>
                        <td>{{RavenAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>RVN Wif</th>
                        <td>{{RavenWifTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTC Address</th>
                        <td>{{BTCAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTC Wif</th>
                        <td>{{BTCWifTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTG Address</th>
                        <td>{{BTGAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTG Wif</th>
                        <td>{{BTGWifTextQRCode}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-center doNotPrint">
                    <button (click)="print()" type="submit">PRINT MY WALLET</button>
                    <button (click)="clearFields()" type="submit" class="ml-2">CLOSE</button>
                </div>

            </div>

            <form action="/" id="generateWalletForm" [hidden]="showKey">
                <p>
                    <b>This password acts as as a seed to create your wallet.</b>
                </p>
                <p>
                    <b>Please do not lose your password, as we do not see or save it.</b>
                </p>
                <p>
                    <b>Wallet creation happens on your device and does not require an internet connection.</b>
                </p>
                <label>
                    <p class="label-txt">ENTER YOUR PASSWORD <small>(A strong password is required)</small></p>
                    <input id="safePassword" type="password" name="password_input" autocomplete="off" class="input" value="">
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>

                <label>
                    <p class="label-txt">CONFIRM YOUR PASSWORD</p>
                    <input id="safeConfirmPassword" type="password" name="password_confirm" autocomplete="off" class="input" value="">
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>

                <div class="" id="passwordStrength"></div>

                <button id="sendForm" type="submit" disabled>NEXT</button>
            </form>
        </div>
    </div>
</div>

