<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <span class="pulse" style="position: absolute; top: 15%; left: 30%;"></span>
            <span class="pulse2" style="position: absolute; top: 20%; left: 10%;"></span>
            <span class="pulse3" style="position: absolute; top: 5%; left: 50%;"></span>

            <span class="pulse" style="position: absolute; top: 18%; left: 40%;"></span>
            <span class="pulse2" style="position: absolute; top: 30%; left: 25%;"></span>
            <span class="pulse3" style="position: absolute; top: 5%; left: 80%;"></span>

            <span class="pulse" style="position: absolute; top: 7%; left: 80%;"></span>
            <span class="pulse2" style="position: absolute; top: 55%; left: 15%;"></span>
            <span class="pulse3" style="position: absolute; top: 13%; left: 88%;"></span>
            <span class="pulse" style="position: absolute; top: 12%; left: 55%;"></span>

            <span class="pulse2" style="position: absolute; top: 40%; left: 80%;"></span>
            <span class="pulse3" style="position: absolute; top: 65%; left: 55%;"></span>
            <span class="pulse" style="position: absolute; top: 2%; left: 15%;"></span>
            <span class="pulse2" style="position: absolute; top: 65%; left: 78%;"></span>

            <div class="col-12 text-center">
                <h1 class="font-weight-light text-title">Welcome to SafeNodes</h1>
                <p class="lead">Safety isn't expensive, it's priceless</p>
            </div>
        </div>
    </div>
</header>

<div class="container">

    <div class="card mt-4 safe-card-v2 mb-4">
        <div class="card-header text-center">
            Create new wallet
        </div>
        <div class="card-body">

            <div id="print-section" class="container" [hidden]="!showKey">
                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>Safe Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafeAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"><img alt="Safe Coin" height="150px" src="https://safe.trade/assets/safe.svg" style="vertical-align:middle"></div>

                    <div class="col text-center alert alert-info">
                        <h3>Safe Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafeWifQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>Safe Key</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafeKeyQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>Safe PrivateKey</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #SafePrivateKeyQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>Raven Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #RavenAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>Raven Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #RavenWifQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>BTC Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTCAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>BTC Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTCWifQRCode></qr-code>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col text-center alert alert-info">
                        <h3>BTG Address</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTGAddressQRCode></qr-code>
                    </div>

                    <div class="col text-center my-auto"></div>

                    <div class="col text-center alert alert-info">
                        <h3>BTG Wif</h3>
                        <qr-code [value]="'QR Code Data'" [size]="115" #BTGWifQRCode></qr-code>
                    </div>
                </div>

                <table class="table mt-2 mb-2">
                    <tbody>
                    <tr>
                        <th>Safe Address</th>
                        <td>{{SafeAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th style="width:200px">Safe Wif</th>
                        <td>{{SafeWifTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>Safe Key</th>
                        <td>{{SafeKeyTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>Safe Private Key</th>
                        <td>{{SafePrivateKeyTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>Raven Address</th>
                        <td>{{RavenAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>Raven Wif</th>
                        <td>{{RavenWifTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTC Address</th>
                        <td>{{BTCAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTC Wif</th>
                        <td>{{BTCWifTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTG Address</th>
                        <td>{{BTGAddressTextQRCode}}</td>
                    </tr>
                    <tr>
                        <th>BTG Wif</th>
                        <td>{{BTGWifTextQRCode}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-center doNotPrint">
                    <button (click)="print()" type="submit">PRINT MY WALLET</button>
                </div>
            </div>

            <form action="/" id="generateWalletForm" [hidden]="showKey">
                <p>
                    <b>This password acts as as a seed to create your wallet.</b>
                </p>
                <p>
                    <b>Please do not lose your password, as we do not see or save it.</b>
                </p>
                <p>
                    <b>Wallet creation happens on your device and does not require an internet connection.</b>
                </p>
                <label>
                    <p class="label-txt">ENTER YOUR PASSWORD <small>(A strong password is required)</small></p>
                    <input id="safePassword" type="password" name="password_input" autocomplete="off" class="input" value="">
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>

                <label>
                    <p class="label-txt">CONFIRM YOUR PASSWORD</p>
                    <input id="safeConfirmPassword" type="password" name="password_confirm" autocomplete="off" class="input" value="">
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>

                <div class="" id="passwordStrength"></div>

                <button id="sendForm" type="submit" disabled>NEXT</button>
            </form>
        </div>
    </div>
</div>

