<div class="container">
    <div class="card mt-4 safe-card-v2 mb-4">
        <div class="card-header text-center">
            Setup SafeNode
        </div>
        <div class="card-body">

            <p>
                So you want to get your node running? Follow these steps, and you should be good to go. If you have any questions don’t hesitate to contact us, the easiest way is to join us on Discord, <a href="https://discord.gg/c6hWAkQ" target="_blank">click here</a>.
            </p>

            <p>Make sure you have the required collateral to run a node; a minimum of <b>10,001 SAFE</b> is needed. You can have a maximum of <b>200,000 SAFE</b> on one node.</p>

            <p>The node will also require some computing power; minimum requirements are 1GB RAM (with a 2GB swapfile) 1 CPU and 40GB HDD/SSD. You can either run your node locally or on a VPS. A lot of people prefer a VPS instead of running your own computer 24/7. (VPS stands for Virtual Private Server)</p>

            <hr>

            <p>First, create a SafeNode Paperwallet and fund it: <a href="https://medium.com/@safecoin/safenodes-collateral-funding-begins-ef388b65ebb" target="_blank">click here</a> to learn more.</p>

            <p>Next, choose your operating system. You can either run it on Linux, Windows, or macOS(soon).</p>

            <p><b>Linux</b> (Recommended for a VPS)<br>
                <a href="https://github.com/Fair-Exchange/Safenode-Install" target="_blank">Click here</a> and use our bash script to easily install a SafeNode or <a href="../../assets/SafeNode_-_Guide_-_v1.02.pdf" target="_blank">follow the instructions</a> to set it up manually.
                <br>
                <a href="../../assets/SafeNode_-_How_to_update.pdf" target="_blank">Click here</a> to know how update your SafeNode.
                <br>
                <a href="../../assets/Troubleshooting_A_SafeNode.pdf" target="_blank">Click here</a> for Troubleshooting a SafeNode.
            </p>

            <hr>

            <p><b>Windows</b><br>
                First, download our QT wallet <a href="https://github.com/Fair-Exchange/safecoinwallet" target="_blank">here</a> and watch this video on how to set it up.
            </p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/p6KDuS0goY0" allowfullscreen></iframe>
            </div>

            <hr>

            <p>
                <b>Mac</b>
                Stay tuned; we’re working on a fix for the QT wallet.
            </p>

            <p>
                If you have any questions don’t hesitate to contact us, the easiest way is to join us on Discord, <a href="https://discord.gg/c6hWAkQ" target="_blank">click here</a>.
            </p>

            <p>
                <b>Designed for you by Team Safe</b>
            </p>

        </div>
    </div>
</div>

