.bg-safe {
    background-color: #01698d;
}

.count {
    font-size: 36px;
    font-weight: 600;
    color: #01445e;
    font-family:  'Roboto', sans-serif;
}

.green-border-top, .red-border-top {
    border: 1px solid #dcdcdc;

}

.green-border-top {
    border-top : 5px solid #24ff00;

    .count-title {
        color: #666;
    }
}

.red-border-top {
    border-top : 5px solid #ff0000;

    .count, .count-title {
        color: #7d0002;
    }
}

.gold-border-top {
    border-top : 5px solid #ffde5d;
    .count-title {
        color: #666;
    }
}

.silver-border-top {
    border-top : 5px solid #cbcbcb;
    .count-title {
        color: #666;
    }
}

.bronze-border-top {
    border-top : 5px solid #eb844b;
    .count-title {
        color: #666;
    }
}

.online-node {
    color: #aaff48;
}

.offline-node {
    color: #ff4600;
}

.counter-block {
    background: rgba(1, 68, 94, 0.1);
}
.safe-block {
    border: 1px solid #dcdcdc;
    border-top : 5px solid #01698d;
}

.empty-state {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.empty-state-container {
    position: relative;
    padding: 0 1rem;
    text-align: center;
    z-index: 1;
}

.state-figure {
    color: #000;
    font-size: 10rem;
    margin-bottom: 1.5rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.state-description, .state-header {
    margin-bottom: 1.25rem;
}

.state-header {
    margin-top: 0;
}

.state-description, .state-header {
    margin-bottom: 1.25rem;
}

#loader {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #0177a0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #0195b9;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #00b1fc;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
