

.count {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    font-family:  'Roboto', sans-serif;
}

.online-node {
    color: #aaff48;
}

.offline-node {
    color: #ff4600;
}

.safe-block {
}
 .ml-4 {
     margin-left: 0!important;
 }

 .col-md-4 {
    flex: 16.66%!important;
    max-width: 16.66%!important;
 }

 .shadow-sm {
    box-shadow: 0rem 0rem rgba(0,0,0,0)!important;
}


.table {
    color: #f2f2f2;
}

tr.odd {
    background-color: #ff4600;
}

.bg-white {
    background-color: #0f1015!important;
}

.safe-block {
    border-color: #0f1015!important;
}

