<div class="container">

    <div class="empty-state" [hidden]="error || !mainLoading">
        <div class="empty-state-container">
            <div id="preloader">
                <div id="loader"></div>
            </div>
            <h3 class="state-header"> Loading </h3>
            <p class="state-description lead text-muted">
                Please wait while our server does its best to serve you!
            </p>
        </div>
    </div>

    <div class="empty-state" [hidden]="!error">
        <div class="empty-state-container">
            <div class="state-figure">
                <i class="fas fa-bug"></i>
            </div>
            <h3 class="state-header"> Error occurred </h3>
            <p class="state-description lead text-muted"> Sorry, there has been an error processing your request, please try again later. </p>
        </div>
    </div>

    <!--
    <div class="empty-state">
        <div class="empty-state-container">
            <div class="state-figure">
                <img width="200px" src="https://safe.trade/assets/safe.svg" alt="Safe Coin">
            </div>
            <h3 class="state-header"> SafeNodes are coming out </h3>
            <p class="state-description lead text-muted"> Enter your SafeNode address to watch your rewards : </p>

            <form>
                <div class="form-group">
                    <label for="safeAddress">Safe address</label>
                    <input class="form-control" id="safeAddress" [(ngModel)]="searchModel" [ngModelOptions]="{standalone: true}" type="text" placeholder="Search Address" aria-label="Search Address">
                </div>

                <button class="btn btn-outline-dark btn-block btn-sm" (click)="launchSearch()" type="submit"><i class="fa fa-search"></i> Launch search</button>
            </form>
        </div>
    </div>
    -->

    <div [hidden]="error || mainLoading">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm gold-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">TIER 3</h6>
                    <span class="count ml-4 mb-0">{{tier3Count}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm silver-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">TIER 2</h6>
                    <span class="count ml-4">{{tier2Count}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm bronze-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">TIER 1</h6>
                    <span class="count ml-4">{{tier1Count}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm silver-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">NODES ENABLED</h6>
                    <span class="count ml-4 mb-0">{{nodesEnabled}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm green-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">NODES ACTIVE</h6>
                    <span class="count ml-4">{{nodesActives}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="my-3 p-2 counter-block rounded shadow-sm gold-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">COLLATERAL</h6>
                    <span class="count ml-4">{{collateral}}</span>
                </div>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm safe-block col-lg-12">

            <h6 class="pb-2 mb-0"><i class="fa fa-globe"></i> NODES</h6>

            <div class="table-responsive mt-3">
                <table id="safenodes" class="table table-hover table-sm display compact" style="width:100%">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">SAFE Address</th>
                        <th scope="col">SAFE Balance</th>
                        <th scope="col">Collateral</th>
                        <th scope="col">SAFE Tier</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!--
        <div class="my-3 m-3 p-3 bg-white rounded shadow-sm safe-block col-lg-6">

            <h6 class="pb-2 mb-0"><i class="fa fa-globe"></i> NOTARIES</h6>

            <div class="table-responsive mt-3">
                <table class="table table-hover table-sm ">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Pubkey</th>
                        <th scope="col">Block validated</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let notary of notaries; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <a class="" href="{{notary.url}}">{{notary.name}}</a>
                        </td>
                        <td>
                            <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">{{notary.pubKey}}</a></span></div>
                        </td>
                        <td>{{notary.blockCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="my-3 p-3 bg-white rounded shadow-sm safe-block">

                    <h6 class="pb-2 mb-0"><i class="fa fa-globe"></i> NOTARIES</h6>

                    <div class="table-responsive mt-3">
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Notary name</th>
                                <th scope="col">
                                    Blocks<br>
                                    Validated
                                </th>
                                <th scope="col">
                                    Blocks<br>
                                    Notarized
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let notary of notaries; let i = index">
                                <td>{{i+17}}</td>
                                <td>
                                    <a class="" href="{{notary.url}}">{{notary.name}}</a>
                                </td>
                                <td>{{notary.blockCount}}</td>
                                <td>{{notary.blockCount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="my-3 p-3 bg-white rounded shadow-sm safe-block">

                    <h6 class="pb-2 mb-0"><i class="fa fa-globe"></i> NOTARIES</h6>

                    <div class="table-responsive mt-3">
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Notary name</th>
                                <th scope="col">
                                    Blocks<br>
                                    Validated
                                </th>
                                <th scope="col">
                                    Blocks<br>
                                    Notarized
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let notary of notaries; let i = index">
                                <td>{{i+17}}</td>
                                <td>
                                    <a class="" href="{{notary.url}}">{{notary.name}}</a>
                                </td>
                                <td>{{notary.blockCount}}</td>
                                <td>{{notary.blockCount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        -->

    </div>
</div>
