<div class="container">


    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="my-3 p-2 counter-block rounded shadow-sm green-border-top">
                <h6 class="border-bottom border-gray pb-2 mb-0 count-title">NODES ENABLED</h6>
                <span class="count ml-4 mb-0">1972</span>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="my-3 p-2 counter-block rounded shadow-sm green-border-top">
                <h6 class="border-bottom border-gray pb-2 mb-0 count-title">NODES ACTIVE</h6>
                <span class="count ml-4">1872</span>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="my-3 p-2 counter-block rounded shadow-sm red-border-top">
                <h6 class="border-bottom border-gray pb-2 mb-0 count-title">NODES EXPIRED</h6>
                <span class="count ml-4">100</span>
            </div>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm safe-block">

        <h6 class="pb-2 mb-0"><i class="fa fa-globe"></i> NODES LIST</h6>

        <div class="table-responsive mt-3">
            <table class="table table-hover table-sm ">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Address</th>
                    <th scope="col">Tiers</th>
                    <th scope="col">Last Checked</th>
                    <th scope="col">Last Paid</th>
                    <th scope="col"><small>Base Reward</small></th>
                    <th scope="col"><small>Additional Reward</small></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="fa fa-circle online-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>1</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td><small>100 <img style="vertical-align:middle" width="24px" height="24px" src="https://safe.trade/assets/safe.svg" alt="Safe Coin"></small></td>
                    <td><small>50 <img style="vertical-align:middle" width="24px" height="24px" src="https://safe.trade/assets/rvn.svg" alt="RavenCoin"></small></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle online-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>2</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle online-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>2</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle offline-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>2</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle online-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>2</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle offline-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>2</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle online-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>2</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle online-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>2</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle offline-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>3</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle online-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>3</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle offline-node"></i></td>
                    <td>
                        <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" routerLink="/address/RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq">RiyjoN1oU2LUcEtSJC16AXuusZxcHriZNq</a></span></div>
                    </td>
                    <td>3</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>May 8, 2019, 3:39:06 PM</td>
                    <td>100 SAFE</td>
                    <td>50 RVN</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
