<div class="container">

    <div class="empty-state" [hidden]="error || !mainLoading">
        <div class="empty-state-container">
            <div id="preloader">
                <div id="loader"></div>
            </div>
            <h3 class="state-header"> Loading </h3>
            <p class="state-description lead text-muted">
                Please wait while our server does its best to serve you!
            </p>
        </div>
    </div>

    <div class="empty-state" [hidden]="!error">
        <div class="empty-state-container">
            <div class="state-figure">
                <i class="fas fa-bug"></i>
            </div>
            <h3 class="state-header"> Error occurred </h3>
            <p class="state-description lead text-muted"> Sorry, there has been an error processing your request, please try again later. </p>
        </div>
    </div>

    <div [hidden]="error || mainLoading">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm gold-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">TIER 1</h6>
                    <span class="count ml-4 mb-0">{{tier1Count}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm silver-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">TIER 2</h6>
                    <span class="count ml-4">{{tier2Count}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm bronze-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">TIER 3</h6>
                    <span class="count ml-4">{{tier3Count}}</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm silver-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">NODES ENABLED</h6>
                    <span class="count ml-4 mb-0">{{nodesEnabled}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="my-3 p-2 counter-block rounded shadow-sm green-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">NODES ACTIVE</h6>
                    <span class="count ml-4">{{nodesActives}}</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="my-3 p-2 counter-block rounded shadow-sm gold-border-top">
                    <h6 class="border-bottom border-gray pb-2 mb-0 count-title">COLLATERAL</h6>
                    <span class="count ml-4">{{collateral}}</span>
                </div>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm safe-block col-lg-12">


            <div class="table-responsive mt-3">
                <table id="safenodes" class="table table-hover table-sm display compact" style="width:100%">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Collateral</th>
                        <th scope="col">Tier</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
