<!-- Main logo/search -->
<nav class="navbar navbar-icon-top navbar-expand-md navbar-dark bg-safe shadow-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><img height="35px" src="assets/images/white.png" alt="SafeNodes"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!--
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>

            <form class="form-inline my-2 my-lg-0 safe-search-bar">

                <div>
                    <input class="form-control" type="text" placeholder="Search Address,Block,Transaction,Token" aria-label="Search Address,Block,Transaction,Token">
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>

                <button class="btn btn-outline-light my-2 my-sm-0 ml-sm-2" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>Main logo/search -->
    </div>
</nav>

<!-- Nav
<div class="bg-white shadow-sm">
    <div class="container safe-nav">
        <nav class="nav nav-underline">

            <a class="nav-link bubble-anim" routerLink="/"><i class="fa fa-search"></i> Explore</a>

            <div ngbDropdown class="bubble-anim">
                <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fa fa-cubes"></i>
                    Blockchain
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>

            <div ngbDropdown class="bubble-anim">
                <a class="nav-link dropdown-toggle" id="dropdownBasic2" ngbDropdownToggle>
                    <i class="fa fa-file-signature"></i>
                    Contract
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>

            <a class="nav-link bubble-anim" routerLink="/nodes">
                <i class="fa fa-globe"></i> Nodes
                <span class="badge badge-info align-text-bottom">27</span>
            </a>

            <div class="ml-auto">
                <a class="nav-link bubble-anim" routerLink="/generate-wallet"><i class="fa fa-briefcase"></i> Create Wallet</a>
            </div>
        </nav>
    </div>
</div>-->

<div class="loader" *ngIf="loading">
    <div class="outer"></div>
    <div class="middle"></div>
    <div class="inner"></div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>SafeCoin</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://bitcointalk.org/index.php?topic=3240246.0"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                    <li><a href="https://safetrades.auth0.com/samlp/6RtMtqmultM1a6PQj241HDDjUvk7dvJW"><i class="fa fa-angle-double-right"></i>Support</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Community</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Safe Dev</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://safecoin.org/roadmap/"><i class="fa fa-angle-double-right"></i>RoadMap</a></li>
                    <li><a href="https://safecoin.org/blog/"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                    <li><a href="https://github.com/Fair-Exchange"><i class="fa fa-angle-double-right"></i>GitHub</a></li>
                    <li><a href="https://safecoin.org/coin-info/"><i class="fa fa-angle-double-right"></i>Documentation</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Safe Ecosystem</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.safe.trade/"><i class="fa fa-angle-double-right"></i>Exchanges</a></li>
                    <li><a href="https://safecoin.org/wallets/"><i class="fa fa-angle-double-right"></i>Wallets</a></li>
                    <li><a href="https://explorer.safecoin.org/"><i class="fa fa-angle-double-right"></i>Explorers</a></li>
                    <li><a href="https://safecoin.org/partnerships/"><i class="fa fa-angle-double-right"></i>Partners</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Safe Media</h5>
                <ul class="list-unstyled social">
                    <li class="list-inline-item"><a href="https://www.facebook.com/safecoins/"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/safecoins"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://discordapp.com/invite/vQgYGJz"><i class="fab fa-discord"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Fair-Exchange"><i class="fab fa-github"></i></a></li>
                </ul>
                <ul class="list-unstyled social">
                    <li class="list-inline-item"><a href="https://bitcointalk.org/index.php?topic=2838370"><i class="fab fa-bitcoin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-reddit"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-telegram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
                <p class="h6">© All rights reversed.<a class="ml-2 copyright-link" href="https://safecoin.org/" target="_blank">SafeCoin</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>

