
<div class="container">

    <div class="empty-state" [hidden]="error || !mainLoading">
        <div class="empty-state-container">
            <div id="preloader">
                <div id="loader"></div>
            </div>
            <h3 class="state-header"> Loading </h3>
            <p class="state-description lead text-muted">
                Please wait while our server does its best to serve you!
            </p>
        </div>
    </div>


    <div class="empty-state" [hidden]="!error">
        <div class="empty-state-container">
            <div class="state-figure">
                <i class="fas fa-bug"></i>
            </div>
            <h3 class="state-header"> Error occurred </h3>
            <p class="state-description lead text-muted"> Sorry, there has been an error processing your request, please try again later. </p>
        </div>
    </div>

    <div class="empty-state" [hidden]="addressFound || mainLoading || error">
        <div class="empty-state-container">
            <div class="state-figure">
                <i class="fab fa-searchengin"></i>
            </div>
            <h3 class="state-header"> Address no found. </h3>
            <p class="state-description lead text-muted"> Sorry for convenient but Address was no found. May you can check validity of address or contact administrator if problem persist. </p>
        </div>
    </div>

    <div [hidden]="!addressFound || error">

        <div class="my-4 p-4 bg-white rounded shadow-sm safe-block safe-address" >
            <h4 class="border-bottom border-gray pb-4 mb-0"> <i class="fa fa-address-card fa-fw"></i> ADDRESS</h4>

            <div class="table-responsive">
                <table class="table m-0 table-md">
                    <tbody>
                    <tr>
                        <th scope="row"><span>Address</span></th>
                        <td>
                            <a href="/address/{{address}}">{{address}}</a>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>Tier</span></th>
                        <td><b>{{node.tier}}</b></td>
                    </tr>

                    <tr>
                        <th scope="row"><span>SAFE Received</span></th>
                        <td><b><span [countUp]="node.received" [options]="counterOptReceived"></span></b></td>
                    </tr>

                    <tr>
                        <th scope="row"><span>Balance</span></th>
                        <td><b><span [countUp]="node.amount" [options]="counterOpt"></span></b></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="empty-state" [hidden]="!addressFound || node.amount >= 10000 || error">
            <div class="empty-state-container">
                <div class="state-figure">
                    <img width="200px" src="https://safe.trade/assets/safe.svg" alt="Safe Coin">
                </div>
                <h3 class="state-header"> Tier 1 soon! </h3>
                <p class="state-description lead text-muted"> You only need <b>{{node.amountNeed}} SAFE</b> to take advantage of the first tier! </p>
            </div>
        </div>

        <div class="empty-state" [hidden]="(rewards && rewards.length > 0)">
            <!-- .empty-state-container -->
            <div class="empty-state-container">
                <div class="state-figure">
                    <i class="fa fa-gem"></i>
                </div>
                <h4 class="state-header"> No rewards yet! </h4>
                <p class="state-description lead text-muted"> Sorry but this SafeNode has not received any awards yet. But it's never to late! </p>
            </div><!-- /.empty-state-container -->
        </div>

        <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" [hidden]="!rewards || rewards.length < 1">
            <h4 class="border-bottom border-gray pb-4 mb-0"><img width="32px" src="https://safe.trade/assets/safe.svg" alt="Safe Coin"> REWARD</h4>
            <div class="table-responsive">
                <table class="table table-hover table-sm ">
                    <thead>
                    <tr>
                        <th scope="col">Block</th>
                        <th scope="col">Txid</th>
                        <th scope="col" style="min-width: 120px;">Age</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let reward of rewards;">
                        <td>
                            <a class="color-tron-100 list-item-word" target="_blank" href="https://bchain.info/SAFE/block/{{ reward.height }}">{{ reward.height }}</a>
                        </td>
                        <td>
                            <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" target="_blank" href="https://bchain.info/SAFE/tx/{{ reward.txid }}">{{ reward.txid }}</a></span></div>
                        </td>
                        <td>{{ moment(reward.timestamp*1000).fromNow() }}</td>
                        <td>
                            <b>MinerMore</b>
                        </td>
                        <td>
                            <div class="truncate-ellipsis"><span><a class="color-tron-100 list-item-word" href="/address/{{ address }}">{{ address }}</a></span></div>
                        </td>
                        <td><span data-toggle="tooltip" data-placement="top" title="Tooltip on top">{{ reward.received_SAFE }}</span></td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <div [hidden]="!loading" class="lds-dual-ring"></div>
                </div>

                <button [hidden]="!loadMoreData" (click)="loadMore()" type="button" class="btn btn-secondary btn-block btn-sm">Load more</button>

            </div>
        </div>
    </div>
</div>
