<div class="container-fluid">
    <div class="empty-state" [hidden]="error || !mainLoading">
        <div class="empty-state-container">
            <div id="preloader">
                <div id="loader"></div>
            </div>
            <h3 class="state-header"> Loading </h3>
            <p class="state-description lead text-muted">
                Please wait while our server does its best to serve you!
            </p>
        </div>
    </div>

    <div class="empty-state" [hidden]="!error">
        <div class="empty-state-container">
            <div class="state-figure">
                <i class="fas fa-bug"></i>
            </div>
            <h3 class="state-header"> Error occurred </h3>
            <p class="state-description lead text-muted"> Sorry, there has been an error processing your request, please try again later. </p>
        </div>
    </div>

    <div class="row" [hidden]="error || mainLoading">

        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" >
                <h4 class="border-bottom border-gray pb-4 mb-0 text-center">SafeNodes Tiers</h4>
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" >
                <h4 class="border-bottom border-gray pb-4 mb-0 text-center">Online SafeNodes</h4>
                <canvas id="chartOnlineNodes" width="200" height="200"></canvas>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" >
                <h4 class="border-bottom border-gray pb-4 mb-0 text-center">SafeCoin Supply</h4>
                <canvas id="myChartSupply" width="200" height="200"></canvas>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" >
                <h4 class="border-bottom border-gray pb-4 mb-0 text-center">SafeNodes by Tiers</h4>
                <canvas id="myChart4" width="200" height="200"></canvas>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" >
                <h4 class="border-bottom border-gray pb-4 mb-0 text-center">Safe Collateral</h4>
                <canvas id="myChart2" width="200" height="200"></canvas>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="my-4 p-4 bg-white rounded shadow-sm safe-block" >
                <h4 class="border-bottom border-gray pb-4 mb-0 text-center">Safe Collateral by Tiers</h4>
                <canvas id="myChart3" width="200" height="200"></canvas>
            </div>
        </div>

    </div>
</div>
