
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <span class="pulse" style="position: absolute; top: 15%; left: 30%;"></span>
            <span class="pulse2" style="position: absolute; top: 20%; left: 10%;"></span>
            <span class="pulse3" style="position: absolute; top: 5%; left: 50%;"></span>

            <span class="pulse" style="position: absolute; top: 18%; left: 40%;"></span>
            <span class="pulse2" style="position: absolute; top: 30%; left: 25%;"></span>
            <span class="pulse3" style="position: absolute; top: 5%; left: 80%;"></span>

            <span class="pulse" style="position: absolute; top: 7%; left: 80%;"></span>
            <span class="pulse2" style="position: absolute; top: 55%; left: 15%;"></span>
            <span class="pulse3" style="position: absolute; top: 13%; left: 88%;"></span>
            <span class="pulse" style="position: absolute; top: 12%; left: 55%;"></span>

            <span class="pulse2" style="position: absolute; top: 40%; left: 80%;"></span>
            <span class="pulse3" style="position: absolute; top: 65%; left: 55%;"></span>
            <span class="pulse" style="position: absolute; top: 2%; left: 15%;"></span>
            <span class="pulse2" style="position: absolute; top: 65%; left: 78%;"></span>

            <div class="col-12 text-center">
                <h1 class="font-weight-light text-title">Welcome to SafeNodes</h1>
                <p class="lead">Safety isn't expensive, it's priceless</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row pt-4">
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="card safe-card-v2 mb-4">
                <div class="card-header">
                    <i class="fa fa-globe mr-3"></i> <span class="odometer">1554</span>
                </div>
                <div class="card-body">
                    Nodes online
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="card safe-card-v2 mb-4">
                <div class="card-header">
                    <i class="fa fa-donate mr-3 icon-first"></i> 27 568
                </div>
                <div class="card-body">
                    24H Nodes rewards
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="card safe-card-v2 mb-4">
                <div class="card-header">
                    <i class="fa fa-database mr-3 icon-two"></i> 1 568
                </div>
                <div class="card-body">
                    24H SafeNodes Block Mined
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="card safe-card-v2 mb-4">
                <div class="card-header">
                    <i class="fa fa-lock mr-3"></i> 1.27M
                </div>
                <div class="card-body">
                    Coin supply locked in Nodes
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="card safe-card-v2 mb-4">
                <div class="card-header">
                    <i class="fa fa-project-diagram mr-3 icon-first"></i> 27
                </div>
                <div class="card-body">
                    Projects protected
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="card safe-card-v2 mb-4">
                <div class="card-header">
                    <i class="fa fa-book-reader mr-3 icon-two"></i> 1 568
                </div>
                <div class="card-body">
                    Projects notarised
                </div>
            </div>
        </div>

    </div>
</div>
